/* Background Image */
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light|Oswald|Permanent+Marker|Montserrat');
body {
  background-image: url(images/ash-edmonds.jpg);
  height: 200px;
  width: 80%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position-x: center;
}

/* Center Contact Ordered List */
#contact {
  text-align: center;
}

/* Unordered and Ordered Class Lists Centered */
.center {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  color: #f0e8e6;
  text-align: center;
  list-style-position: inside;
  white-space: nowrap;
}

/* Makha Title Name */
h1 {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 70px;
  -webkit-text-stroke-width: .1px;
  -webkit-text-stroke-color: white;
  margin: 0;
  color: #ff441b;
}

/* Front End Developer */
h2 {
  text-align: center;
  color: #97a9d8;
  font-size: 24px;
}

/* All Paragraphs */
p {
  font-size: 16px;
  color: #f0e8e6;
}

/* Heading 2 Titles and Paragraphs */
h2, p {
  text-align: center;
  word-wrap: break-word;
  margin: 0;
  padding: 10px;
  font-family: 'Oswald', sans-serif;
}

/* Adjust Text Wrap for UI */
article {
  overflow: auto;
}

/* Section Borders */
section {
  border-bottom: 3px solid #492e57;
}

/* Remove Additional Border Bottom */
section:last-child {
  border-bottom: none;
}

/* Navigation Text Spacing */
div > nav {
  margin: 0 0 10px 10px;
}

/* Navigation Container */
a {
  padding: 0px 15px 10px 20px;
  font-size: 16px;
  word-wrap: break-word;
  text-decoration: none;
}

/* Navigation Hover Effects */
nav a:hover {
  color: #f0e8e6;
}

/* Container Margins and Alignment */
nav, div {
  margin: auto;
  text-align: center;
}

/* Background Dividers and Color */
main > div {
  border: 3px solid #1f1f2b;
  padding: 10px;
  background-color: hsl(229, 24%, 40%, 0.7);} /* Hue-saturation-lightness-alpha model, pastel green */
  overflow: hidden;
}
