@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light|Oswald|Permanent+Marker|Montserrat');
body {
  background-image: url(images/jazmin-quaynor-unsplash.jpg);
  height: 200px;
  width: 80%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position-x: center;
}

#contact {
  text-align: center;
}

/* unordered and ordered lists centered */
.center {
  text-align: center;
  list-style-position: inside;
  font-family: 'Oswald', sans-serif;
  color: #493736;
}

/* Makha title name */
h1 {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 70px;
  margin: 0;
  color: darkred;
}

/* Front end Developer */
h2 {
  text-align: center;
  color: #3a4849;
  font-size: 24px;
}

/* All paragraphs */
p {
  font-size: 16px;
  color: #668284;
}

/* Heading 2 titles and paragraphs */
h2, p {
  text-align: center;
  word-wrap: break-word;
  margin: 0;
  padding: 10px;
  font-family: 'Oswald', sans-serif;
}


article {
  overflow: visible;
}

/* Section borders */
section {
  /* margin-left: -200%;
  width: 500%; */
  border-bottom: 3px solid #668284;
}

main > div > article > section:last-child {
  border-bottom: none;
}

/* Navigation spacing */
div > nav {
  margin: 0 0 10px 10px;
}

a {
  padding: 0px 15px 10px 20px;
  font-size: 16px;
  word-wrap: break-word;
  text-decoration: none;
}

/* Navigation hover effects */
nav a:hover {
  color: #668284;
}

/* */
nav, div {
  /* width: 1000px; */
  margin: auto;
  text-align: center;
}

/* */
nav:after {
  content: "";
  display: table;
  clear: both;
}

section p {
  /*color: #493736;*/
}

/* Background dividers and color */
main > div {
  border: 3px solid #668284;
  padding: 10px;
  background-color: hsla(120,60%,95%,0.92);} /* Hue-saturation-lightness-alpha model, pastel green */
  overflow: hidden;
}


main > div > article > section > footer > p {
  color: #668284;
  font-size: 8px;
  text-align: center;
}
